<!DOCTYPE html>
<html>
<head>
    <title>Online Store</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Online Store!</h1>
        {{ if .IsLoggedIn }}
        <a href="/logout">Log out</a>
        <a href="/admin">Admin Panel</a>
        <a href="/profile-edit">Profile Edit</a>
        {{ else }}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {{ end }}
    </header>
    <form action="/" method="get">
        <label for="filter">Filter:</label>
        <input type="text" id="filter" name="filter" placeholder="Enter filter" value="{{.Filter}}">
        <button type="submit">Apply Filter</button>
    </form>
    <form action="/" method="get">
        <input type="hidden" name="filter" value="{{.Filter}}">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort">
            <option value="">Default</option>
            <option value="size" {{if eq .SortBy "size"}}selected{{end}}>Size</option>
            <option value="price" {{if eq .SortBy "price"}}selected{{end}}>Price</option>
        </select>
        <button type="submit">Apply Sort</button>
    </form>

   

    <h2>Products:</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
        </tr>
        {{range .Products}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Size}}</td>
                <td>${{.Price}}</td>
            </tr>
        {{end}}
    </table>
    <div>
        <span>Page: {{.Page}}</span>
        <a href="?page={{.PrevPage}}&pageSize={{.PageSize}}">Previous</a>
        <a href="?page={{.NextPage}}&pageSize={{.PageSize}}">Next</a>
    </div>

    <section id="news">
        <h2>Latest News:</h2>
        <ul>
            {{range .News}}
                <li>
                    <strong>{{.Title}}</strong>
                    <p>{{.Description}}</p>
                    <p>Source: {{.Source}}</p>
                    <a href="{{.URL}}" target="_blank">Read more</a>
                </li>
            {{end}}
        </ul>
    </section>

</body>
</html>
